<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
  <description>The coding standard for Miaoxing.</description>

  <file>./</file>

  <exclude-pattern type="relative">^/vendor/*</exclude-pattern>

  <arg name="colors"/>

  <arg value="sp"/>

  <rule ref="Generic.Classes.DuplicateClassName"/>

  <rule ref="Generic.CodeAnalysis.EmptyStatement"/>
  <rule ref="Generic.CodeAnalysis.ForLoopWithTestFunctionCall"/>
  <rule ref="Generic.CodeAnalysis.JumbledIncrementer"/>
  <!--<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>-->
  <rule ref="Generic.CodeAnalysis.UselessOverridingMethod"/>

  <rule ref="Generic.Commenting.Fixme"/>

  <rule ref="Generic.ControlStructures.InlineControlStructure"/>

  <!--<rule ref="Generic.Files.EndFileNewline"/> replaced by PHP-CS-Fixer eof_ending rule-->
  <rule ref="Generic.Files.LineLength"/>
  <!--<rule ref="Generic.Files.InlineHTML"/> exclude views-->
  <!--<rule ref="Generic.Files.LowercasedFilename"/> exclude classes-->
  <rule ref="Generic.Files.OneClassPerFile"/>
  <rule ref="Generic.Files.OneInterfacePerFile"/>
  <rule ref="Generic.Files.OneTraitPerFile"/>

  <!--<rule ref="Generic.Formatting.SpaceAfterCast"/> replaced by PHP-CS-Fixer spaces_cast rule-->

  <rule ref="Generic.Functions.FunctionCallArgumentSpacing"/>
  <!--<rule ref="Generic.Functions.OpeningFunctionBraceBsdAllman"/> replaced by PHP-CS-Fixer braces rule-->

  <rule ref="Generic.Metrics.NestingLevel">
    <properties>
      <property name="nestingLevel" value="4"/>
      <property name="absoluteNestingLevel" value="8"/>
    </properties>
  </rule>

  <rule ref="Generic.PHP.NoSilencedErrors"/>

  <rule ref="Generic.Strings.UnnecessaryStringConcat"/>

  <rule ref="MySource.Objects.AssignThis"/>

  <rule ref="MySource.PHP.GetRequestData"/>

  <rule ref="PEAR.ControlStructures.MultiLineCondition"/>

  <rule ref="PEAR.Formatting.MultiLineAssignment"/>

  <rule ref="PSR1"/>

  <rule ref="PSR2"/>

  <rule ref="Squiz.Commenting.BlockComment">
    <exclude name="Squiz.Commenting.BlockComment.WrongStart"/>
  </rule>

  <rule ref="Squiz.NamingConventions.ValidVariableName"/>

  <rule ref="Squiz.PHP.CommentedOutCode"/>
  <rule ref="Squiz.PHP.DisallowComparisonAssignment"/><!--tbd-->
  <rule ref="Squiz.PHP.DisallowMultipleAssignments"/><!--tbd-->
  <rule ref="Squiz.PHP.Eval"/>
  <rule ref="Squiz.PHP.ForbiddenFunctions"/>
  <rule ref="Squiz.PHP.NonExecutableCode"/>

  <rule ref="Squiz.Scope.MethodScope"/>
</ruleset>
