includes:
	- phpstan-baseline.neon

parameters:
    level: 2

    scanDirectories:
        - docs
        - vendor/wei/wei/docs

    ignoreErrors:
        # 允许服务静态调用动态方法
        - '/^Static call to instance method/'