parameters:
    level: 5

    paths:
        - src
        - tests

    scanFiles:
        # 引入 *Mixin 类
        - docs/auto-completion.php
        - vendor/wei/wei/docs/auto-completion.php

    ignoreErrors:
        # 自定义扩展未能识别到，暂时忽略
        -
            message: "#^Static call to instance method Miaoxing\\\\Plugin\\\\Service\\\\User\\:\\:logout\\(\\)\\.$#"
            count: 1
            path: src/Service/UserModel.php

        -   "#^Unsafe usage of new static\\(\\)\\.$#"
