includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5

    paths:
        - src
        - tests

    scanFiles:
        # 引入 *Mixin 类
        - docs/auto-completion.php
        - vendor/wei/wei/docs/auto-completion.php

    excludes_analyse:
        - src/BaseModel.php

    ignoreErrors:
        # 用于快速判断赋值，例如 !$a && $a = 'xx';
        - "#^Right side of (\\|\\||&&) is always (true|false)\\.$#"

        # 自定义扩展未能识别到，暂时忽略
        -
            message: "#^Static call to instance method Miaoxing\\\\Plugin\\\\Service\\\\User\\:\\:logout\\(\\)\\.$#"
            count: 1
            path: src/Service/UserModel.php

services:
    -
        class: Miaoxing\Plugin\PHPStan\ServiceExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: Miaoxing\Plugin\PHPStan\MethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: Miaoxing\Plugin\PHPStan\PropertyExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension